.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin: 32px 0 0;
    padding: 0;
  }
  
  @media screen and (max-width: 692px) {
    .lead__subtitle {
      font-size: 20px;
      line-height: 20px;
      width: calc(100% - 16px*2);
      margin-top: 16px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .lead__subtitle {
      font-size: 16px;
    }
  }