.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin: 92px 48px 24px;
  }
  
  @media screen and (max-width: 1024px) {
    .footer {
      max-width: 928px;
    }
  }
    
  @media screen and (max-width: 768px) {
    .footer {
      max-width: 720px;
      margin: 88px 24px 0;
    }
  }
  
  @media screen and (max-width: 692px) {
    .footer {
      flex-direction: column;
      margin-top: 64px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .footer {
      gap: 0;
      margin: 64px 16px 24px;
    }
  }